@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
  IList<string> roles = new List<string>();

  IdentityUser identityUser = await Task.Run(() => UserManager.GetUserAsync(User));

  if (identityUser != null)
  {
    roles = await Task.Run(() => UserManager.GetRolesAsync(identityUser));
  }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/Images/icono.ico"/>
    <title>@ViewData["Title"] REATTEN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Trabajo_Grupal.styles.css" asp-append-version="true" />
</head>
<body>

  <!-- header principal -->

    <header class="header">
      <div class="cotainer-carrusel">
             <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/Images/banner1.png"  alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="/Images/banner2.png"  alt="">
                    </div>
                </div>
            </div>
        </div>
      <div class="container-hero">

        <!-- menu 1 -->
           
        <div class="container hero">
                
                <div class="container-logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index" >
                       <img src="/Images/logo1.png" alt="">
                    </a>
                </div>

                <div class="container-form col-7 pl-0">
                    <form method="post" class="searchForm d-flex" >
                    <input name="searchString" class="form-control me-2" type="search" placeholder="Buscar libro ..." aria-label="Search"/>
                    <button class="btn-search">
                        <i class="fa-solid fa-magnifying-glass" style="color: #581908;"></i>
                    </button>
                    </form>
                </div>
                <div class="container-user">
                    <partial name="_LoginPartial" />
                </div>
            
        </div>

        <!-- menu 1 end-->

        <!-- menu 2 -->

        <div class="container-nav">

          <div class="row v-center hero1">
            

          <div class="header-item item-right">
            <!-- mobile menu trigger -->
            <div class="mobile-menu-trigger">
              <span></span>
            </div>
            <div class="container-form-movile col-10 pl-0">
              <form method="post" class="searchForm d-flex " >
                  <input name="searchString" class="form-control me-2" type="search" placeholder="Buscar libro ..." aria-label="Search"/>
                    <button class="btn-search">
                        <i class="fa-solid fa-magnifying-glass" style="color: #581908;"></i>
                    </button>
              </form>
          </div>
          </div>  
               
                    <!-- menu start here -->
            <div class="header-item item-center ">
              <div class="menu-overlay"></div>

              <nav class="menu">
                <div class="mobile-menu-head">
                  <div class="go-back"><i class="fa fa-angle-left"></i></div>
                  <div class="current-menu-title"></div>
                  <div class="mobile-menu-close">&times;</div>
                </div>
                  <ul class="menu-main">
                    <li><a class="nav-link text-dark love" asp-area="MisDeseos" asp-controller="MisDeseos" asp-action="Index"> MIS FAVORITOS</a></li>
                     
                     @if (roles.Contains("Admin"))
                {
                  <li><a asp-controller="Producto" asp-action="Index">PRODUCTOS</a>
                  </li>
                  <li><a asp-controller="Usuario" asp-action="Index">USUARIOS</a>
                  </li>
                }     
                    <!--<li><a asp-controller="ITBooks" asp-action="Index">ITBooks</a></li>-->
                    <li><a asp-area="" asp-controller="Catalogo" asp-action="Index">CATALOGO</a></li>
                          
                    <li class="menu-item-has-children">
                      <a href="#">FICCIÓN <i class="fas fa-angle-down"></i></a>
                        <div class="sub-menu mega-menu mega-menu-column-4">
                          <div class="list-item">
                            <h4 class="title">LIBROS DE FICCIÓN</h4>
                              <ul>
                                <li><a href="#">Ciencia Ficción</a></li>
                              </ul>
                          </div>
                          <div class="list-item">
                            <h4 class="title">_____</h4>
                              <ul>
                                <li><a href="#">Fantasía</a></li>
                              </ul>
                          </div>
                          <div class="list-item">
                            <h4 class="title">_____</h4>
                              <ul>
                                <li><a href="#">Misterio</a></li>
                              </ul>
                          </div>
                          <div class="list-item">
                            <h4 class="title">_____</h4>
                              <ul>
                                <li><a href="#">Aventura</a></li>
                              </ul>
                          </div>
                        </div>
                    </li>
                            
                    <li class="menu-item-has-children">
                      <a href="#">NO FICCIÓN <i class="fa fa-angle-down"></i></a>
                        <div class="sub-menu mega-menu mega-menu-column-4">
                          <div class="list-item">
                            <h4 class="title">LIBROS DE NO FICCIÓN</h4>
                              <ul>
                                <li><a href="#">Ciencias</a></li>
                                <li><a href="#">Empresas</a></li>
                                
                              </ul>
                          </div>
                          <div class="list-item">
                            <h4 class="title">_____</h4>
                              <ul>
                                <li><a href="#">Deportes</a></li>
                                <li><a href="#">Escolar y Plan lector</a></li>
                              </ul>
                          </div>
                          <div class="list-item">
                            <h4 class="title">_____</h4>
                              <ul>
                                <li><a href="#">Ciencias sociales</a></li>
                                <li><a href="#">Historia</a></li>
                              </ul>
                          </div>
                          <div class="list-item">
                            <h4 class="title">_____</h4>
                              <ul>
                                <li><a href="#">Biografías</a></li>
                                <li><a href="#">Gastronomía</a></li>
                              </ul>
                          </div>
                        </div>
                    </li>

                    <li class="menu-item-has-children">
                      <a href="#">JUVENIL <i class="fa fa-angle-down"></i></a>
                        <div class="sub-menu mega-menu mega-menu-column-4">
                          <div class="list-item">
                            <h4 class="title">LIBROS JUVENILES</h4>
                              <ul>
                                <li><a href="#">Literatura juvenil</a></li>
                              </ul>
                              </div>
                          <div class="list-item">
                            <h4 class="title">_____</h4>
                              <ul>
                                <li><a href="#">Comics y Manga</a></li>
                              </ul>
                          </div>
                          <div class="list-item">
                            <h4 class="title">_____</h4>
                              <ul>
                                <li><a href="#">Sagas juveniles</a></li>
                              </ul>
                          </div>
                          <div class="list-item">
                            <h4 class="title">_____</h4>
                              <ul>
                                <li><a href="#">Autores destacados</a></li>
                              </ul>
                          </div>

                        </div>
                    </li>

                    <li class="menu-item-has-children">
                      <a href="#">INFANTIL <i class="fa fa-angle-down"></i></a>
                        <div class="sub-menu mega-menu mega-menu-column-4">
                          <div class="list-item">
                            <h4 class="title">LIBROS INFANTILES</h4>
                              <ul>
                                <li><a href="#">De 0 a 2 años</a></li>
                              </ul>
                          </div>
                          <div class="list-item">
                            <h4 class="title">_____</h4>
                              <ul>
                                <li><a href="#">De 3 a 5 años</a></li>
                              </ul>
                          </div>
                          <div class="list-item">
                            <h4 class="title">_____</h4>
                              <ul>
                                <li><a href="#">De 6 a 8 años</a></li>
                              </ul>
                          </div>
                          <div class="list-item">
                            <h4 class="title">_____</h4>
                              <ul>
                                <li><a href="#">De 9 a 12 años</a></li>
                              </ul>
                          </div>

                        </div>
                    </li>

                  </ul>
              </nav>
            </div>
                    <!-- menu end here -->
                    
          </div>   
        </div>

        <!-- menu 2 end -->

      </div>


    </header>

  <!-- header principal -->
  
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
        <div class="footer-container">
            
            <div class="footer-row">

                <div class="footer-col">
                    <div class="footer-logo">
                        <img src="/Images/logo1.1.png" alt="">
                    </div>
                    <h6>Siguenos en nuestras redes sociales</h6>
                    <div class="sIcons">
                        <a href="https://www.facebook.com/profile.php?id=61552762443960" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/reattenofficial/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
        
                <div class="footer-col">
                    <ul>
                        <h4>Nosotros</h4>
                        <li><a asp-area="" asp-controller="Nosotros" asp-action="Index">Nuestra Empresa</a></li>
                        <li><a asp-area="" asp-controller="Nosotros" asp-action="Direccion">Dirección</a></li>
                        <li><a asp-area="" asp-controller="Contactanos" asp-action="Index">Contáctanos</a></li>
                        <li><a asp-area="" asp-controller="Nosotros" asp-action="PreguntasFrecuentes">Preguntas Frecuentes</a></li>
                    </ul>
                            
                </div>

                <div class="footer-col">
                    <h4>Libro de Reclamaciones</h4>
                    <div class="footer-img">
                        <a asp-area="" asp-controller="Nosotros" asp-action="LibrodeReclamaciones" >
                          <img src="/Images/reclamaciones.png" alt="">
                        </a>
                    </div>
                    
                </div>

                <div class="footer-col">
                    <h4>Medios de Pago</h4>
                    <div class="footer-img">
                        <img src="/Images/tarjetas.png" alt="">
                    </div>
                              
                </div>   
        
            </div>
   
        </div>

        <div class="containerCopy">
                        
            <p>Copyright &copy;2023; Designed by <span class="designer">REATTEN</span></p>
                
        </div>

    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
