@{
    ViewData["Title"] = "Dirección";
}

<!DOCTYPE html>
<html>
<head>
    <title>Dirección</title>
    
</head>
<body>
    <div class="container">
        <h1>Dirección</h1>
        <p>Información de contacto, dirección y detalles relevantes.</p>
    </div>
</body>
</html>