@{
    ViewData["Title"] = "Sobre Nosostros | ";
}
<style>
  .container {
    position: relative;
    text-align: center;
  }

  .image {
    display: block;
    margin: 0 600% 0 auto; /* Centrar la imagen horizontalmente */
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para el texto */
    color: white;
    padding: 10px;
  }
</style>
<header>
    <h1>Sobre nosotros</h1>
</header>

<main>
   <div class="container">
  <img class="image" src="Images/nosotros1.png" alt="Tu imagen">
  <div class="text">
    Texto superpuesto
  </div>
</div>
    </main>
