@{
    ViewData["Title"] = "Libro de Reclamaciones";
}

<!DOCTYPE html>
<html>
<head>
    <title>Libro de Reclamaciones</title>
    
</head>
<body>
    <div class="container">
        <h1>Libro de Reclamaciones</h1>
        <p>Espacio para presentar el proceso y formulario de reclamaciones.</p>
    </div>
</body>
</html>