@model Trabajo_Grupal.Models.Pago
@{
    ViewData["Title"] = "Pago";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" src="/Images/loguito.png"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/paid.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Trabajo_Grupal.styles.css" asp-append-version="true" />
    <script src="https://unpkg.com/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>

  <section class="payment-section">
        <div class="container">
          <form asp-controller="Pago" asp-action="Pagar" class="payment-form" data-val="true">
            <div class="payment-wrapper">
                <div class="payment-left">
                    <div class="payment-header">
                        <div class="payment-header-icon"><i class="ri-flashlight-fill"></i></div>
                        <div class="payment-header-title">Resumen del Pedido</div>
                        <p class="payment-header-description"></p>
                    </div>
                    <div class="payment-content">
                        <div class="payment-body">
                            <div class="payment-plan">
                                <a class="payment-plan-change" asp-action="Index" asp-controller="Carrito">Regresar al carrito</a>
                                </div>
                            <div class="payment-summary">
                                
                                <div class="payment-summary-divider"></div>
                                <div class="form-group payment-summary-item payment-summary-total">
                                    <div class="payment-summary-name"><label asp-for="MontoTotal" class="control-label"></label></div>
                                    <div class="payment-summary-price"><input asp-for="MontoTotal" class="form-control" data-thousands="," data-decimal="." /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="payment-right">
                    
                        <h1 class="payment-title">Detalles del Pago</h1>
                        
                          <div class="payment-method">
                              <input type="radio" name="payment-method" id="method-1" checked>
                              <label for="method-1" class="payment-method-item">
                                  <img src="/Images/visa.png" alt="">
                              </label>
                              <input type="radio" name="payment-method" id="method-2">
                              <label for="method-2" class="payment-method-item">
                                  <img src="/Images/mastercard.png" alt="">
                              </label>
                              <input type="radio" name="payment-method" id="method-3">
                              <label for="method-3" class="payment-method-item">
                                  <img src="/Images/ae.png" alt="">
                              </label>
                              <input type="radio" name="payment-method" id="method-4">
                              <label for="method-4" class="payment-method-item">
                                  <img src="/Images/dc.png" alt="">
                              </label>
                          </div>

                        <div class="form-group payment-form-group">
                            <input type="hidden" asp-for="UserID"/>
                            <input type="text" name="NombreTarjeta" id="NombreTarjeta" data-val="true" data-val-required="El nombre de la tarjeta es obligatorio." asp-for="NombreTarjeta" class="form-control payment-form-control"  placeholder=" " required>
                            <label  asp-for="NombreTarjeta" class="payment-form-label payment-form-label-required control-label" >Nombre de tarjeta</label>
                        </div>

                        <div class="payment-form-group form-group">
                            <input type="text" name="NumeroTarjeta" data-val="true" data-val-required="El número de tarjeta es obligatorio." data-val-creditcard="Por favor, ingrese un número de tarjeta válido." asp-for="NumeroTarjeta" class="form-control payment-form-control" data-inputmask="'mask': '9999-9999-9999-9999'"  placeholder=" " id="card-number"  required maxlength="16" minlength="16" >
                            <label asp-for="NumeroTarjeta" for="card-number" class="control-label payment-form-label payment-form-label-required" >Numero de tarjeta</label>
                        </div>

                        <div class="payment-form-group-flex form-group">

                            <div class="payment-form-group">
                                <input type="text" name="DueDateYYMM" data-val="true" data-val-required="La fecha de vencimiento es obligatoria." data-val-regex="Formato de fecha de vencimiento no válido. Use el formato 'yy/mm.'" asp-for="DueDateYYMM" class="form-control payment-form-control" data-inputmask="'mask': '99/99', 'placeholder': 'yy/mm'"  placeholder=" " id="expiry-date"  required>
                                <label asp-for="DueDateYYMM" for="expiry-date" class="control-label payment-form-label payment-form-label-required" >Expiry Date</label>
                            </div>

                            <div class="payment-form-group">
                                <input type="text" name="Cvv" data-val="true" data-val-required="El CVV es obligatorio." data-val-regex="El CVV debe tener 3 dígitos." asp-for="Cvv" class="form-control payment-form-control" data-inputmask="'mask': '999', 'placeholder': '999'"  placeholder=" "  id="cvv" required maxlength="3" minlength="3">
                                <label asp-for="Cvv" for="cvv" class="control-label payment-form-label payment-form-label-required" >CVV</label>
                            </div>

                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn payment-form-submit-button"><i class="ri-wallet-line"></i> Pagar</button>
                        </div>
                        
                    </form>
                    <h1>@ViewData["Message"]</h1>
                    
                </div>
            </div>
        </div>
    </section>


</body>
</html>
