@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
	font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #ffffff;
  height: 100vh;
	display: flex;
    flex-flow: column;
  
}

:root{
  --primary-color: #581908;
  --background-color: #e3ddd1;
  --second-color: #F5C116;
}

/*-------------- CARRUSEL ----------------------*/
.cotainer-carrusel{
  text-align: center;
}


.carousel-inner{
  background-color: var(--second-color);
  padding: 0.5rem 0;
  position: static;
}

.carousel-inner img{
  align-items: center;
  width: 15%;
}
/*-------------- CARRUSEL ----------------------*/

/*-------------- CSS NAV ----------------------*/

.header{
  text-align: center;
  background-color: var(--background-color);
  color: #581908;
}
  
.container{
  padding-left: 8%;
  padding-right: 8%;
  justify-content: space-between;

}

.container-hero{
  background-color: var(--background-color);
  position: relative;

}

.hero{
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding:  0 auto;
  padding-top: 1rem;
  padding-bottom: 0.5rem;

}

.container-logo {
  position: static;
  width: 20%;
  vertical-align: middle;
  align-items: flex-start;

}

.container-logo a{
	align-items: flex-start;
}

.container-logo img{
  position: static;
  width: 80%;
  align-items: flex-start;

}

.container-user{
  display: flex;
  gap: 1rem;
  cursor: pointer;
  align-items: center;
  padding-right: 15px;

}

.fa-user{
  font-size: 1.5rem;
  color: var(--primary-color);
  padding-right: 2.5rem;

}

.iconuser{
	color: var(--primary-color);
  padding-right: 1rem;
}


.fa-cart-shopping{
  font-size: 1.5rem;
  color: var(--primary-color);
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 1px solid #e2e2e2e2;

}

.heart3{
	font-size: 1.5rem;
	color: var(--primary-color);
	padding-right: 1rem;
	padding-left: 1rem;
	align-items: center;
	
}


.searchForm{
	display: flex;
	align-items: center;
	border: 2px solid #581908;
	border-radius: 1rem;
	background-color: #fff;
	height: 2.5rem;
	overflow: hidden;
  
  }
  
   
  
  .searchForm input{
	outline: none;
	border: none;
	font-size: 1rem;
	padding: 20px 20px ;
	color: 777;
	cursor: pointer;
  
  }
  
  .searchForm input::-webkit-search-cancel-button{
	appearance: none;
  
  }
  
  .searchForm .btn-search{
	border: none;
	background-color: var(--second-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
  
  }

.container-nav{

	max-width: 1200px;
	margin: 0 auto;
	background-color: var(--background-color);
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
  }
  
  .hero1{
	width: 100%;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
  }
  
  
.header .row{
	display: flex;
	flex-wrap: wrap;
}
.v-center{
	align-items: center;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}

.menu-main{
	justify-content: space-between;
}

a{
	text-decoration: none;
}
/* header */
.header{
	display: block;
	width: 100%;
	position: relative;
	z-index: 99;
	
}

.header .logo a{
	font-size: 30px;
	color:#000000;
	font-weight: 700;
	text-decoration: none;
}

.header .item-center{
	flex:0 0 100%;
}

.header .item-right{
	justify-content: space-between;
	display: flex;
	
}

.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}

.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	justify-content: space-between;
	align-items: center;
	margin-left: 28px;
	margin-right: 28px;
}

.header .menu > ul > li > a{
	font-size: 15px;
	font-weight: 500;
	color:#000000;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
	
}

.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:var(--background-color);
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}

@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}

.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color:#ea4636;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
	color:#ea4636;
}
/* banner section */
.banner-section{
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  display: block;
}
.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}


/* header partial*/

.header .menu1 > ul > li{
	display: inline-block;
	line-height: 50px;
	justify-content: space-between;
	align-items: center;
	margin-left: 28px;
	margin-right: 28px;
}

.header .menu1 > ul > li > a{
	font-size: 15px;
	font-weight: 500;
	color:#000000;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
	
}

.header .menu1 > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:var(--background-color);
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}

.header .menu1 > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.header .menu1 > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
.header .menu1 > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.header .menu1 > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header .menu1 > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}
.header .menu1 > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header .menu1 > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
}
.header .menu1 > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
.header .menu1 > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color:#ea4636;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
}
.header .menu1 > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu1 > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.header .menu1 > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu1 > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu1 > ul > li:hover > a{
	color:#ea4636;
}
/* header partial*/

.navbar-nav {
    display: flex;
    padding-left: 0;
	flex-direction: row;
    margin-bottom: 0;
    list-style: none;
	align-items: center;
}
/*-------------- CSS NAV ----------------------*/

/* ------------- CSS FOOTER -------------------*/


.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-img img{
  width: 50%;
  padding-bottom: 15px;
  vertical-align: middle;
  
}

.footer-logo img{
  width: 85%;
  padding-bottom: 15px;
  vertical-align: middle;
  
}

ul{
  list-style: none;
}

.footer {
	background-color: #581908;
	height: auto;
	width: 100%;
	padding-top: 50px;
	margin-top: auto;
	
  }
  

.footer-row {
  display: flex;
  flex-wrap: wrap;
} 

.footer-col {
  width: 25%;
  padding:0 25px;
  padding-bottom: 50px ;
  
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  border-bottom: 2px solid #F5C116;
  display: inline-block;
  padding-bottom: 10px;
  bottom: -10px;

}


.footer-col h6 {

  font-size: 17px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  padding-bottom: 10px;
}


.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 17px;
  text-transform: capitalize;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #F5C116;
  padding-left: 8px;
}

.sIcons a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.sIconsP a{
  display: inline-block;
  height: 40px;
  width: 40px;
  margin:0 0 20px ;
  text-align: center;
  line-height: 25px;
  /*border-radius: 50%;*/
  color: #ffffff;
  transition: all 0.5s ease;
}

.sIcons a:hover {
  background-color: #F5C116;
}

.containerCopy {
  background-color: #6F1A07;
  width: auto;
  padding-top: 6px;
  padding-bottom: 1px;
  text-align: center;

}

.containerCopy p{
  color: white;
  
}

.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

/*-------------- FOOTER --------------------------------*/

/*-------------- TAMAÑO --------------------------------*/

@media (width>= 992px) {

	.container-form-movile{
	  display: none;
	}

	.love{
		display: none;
	}
  
	.container-form{
	  display: block;
	}
  }

  @media (width < 992px) {

	.container-form-movile{
	  display: block;
	}

	.heart3{
		display: none;
	  }
  
	.container-form{
	  display: none;
	}

	.carousel-inner img{
		align-items: center;
		width: 20%;
	  }

	  .container-user{
		padding-right: 0px;
		
	  
	  }

  }

  @media(width<992px){
	.footer-row{
	  text-align: center;
	}
  
	.footer-col{
	  width: 100%;
	  margin-bottom: 30px;
	}
  
	.containerCopy{
	  text-align: center;
	}
  
	.container-logo img{
	  width: 150%;
	}
  }


/*responsive*/
@media(width < 992px){

	.header .item-center{
		order:3;
		flex:0 0 100%;
	}
	.header .item-left,
	.header .item-right{
		flex:0 0 auto;
	}
	.v-center{
		justify-content: space-between;
	}
	.header .mobile-menu-trigger{
		display: flex;
		height: 30px;
		width: 30px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	.header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	.header .mobile-menu-trigger span:before{
		top:-6px;
	}
	.header .mobile-menu-trigger span:after{
		top:6px;
	}
	.header .item-right{
		align-items: center;
	}

	.header .menu{
		position: fixed;
		width: 320px;
		background-color:var(--background-color);
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.header .menu.active{
	   transform: translate(0%);	
	}
	.header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	.header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	.header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: var(--background-color);
		top:0;
	}
	.header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	.header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.header .menu > ul > li .sub-menu.mega-menu,
	.header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
}

@media (width: 768px){
	.container, .container-md, .container-sm {
    max-width: 100%;
}
}

@media (min-width: 576px){
.container, .container-sm {
    max-width: 100%;
}
}


	
/*-------------- TAMAÑO --------------------------------*/
